.status {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 20vh;
    align-items: center;
    .status-item {
        height: 15vh;
        width: 13vw;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #5E35B1;
        color: #fff;
        &.main{
            background-color: #1E88E5;
        }
        
    }
    .arrow-forward{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        margin-top: 1rem;
        margin-bottom: 1rem;
        border-radius:50%;
        height: 3rem;
        width: 3vw;
        cursor: pointer;
    }
}
.chart-container {
    display: flex;
    height: 70vh;
    .left-chart{
        width: 70vw;
        border: 1px solid rgb(179, 177, 177);
        padding: 1rem;
        border-radius: 3%;
        margin-right: 1rem;
    }
    .right-chart{
        border: 1px solid rgb(179, 177, 177);
        padding: 1rem;
        border-radius: 5%;
        width: 30vw;
    }
}

@media only screen and (max-width:'768px'){
    .chart-container{
        flex-direction: column;
        align-items: center;
        .left-chart{
            border: none;
            width: 100%
        }
        .right-chart{
            border: none;
            width: 100%
        }
    }
}